.container {
  padding: 40px;
}

.page{
  height: 1000px;
}

.over-lay {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 255, 0.397);
  transition: 0.4s ease-in-out;
  opacity: 0;
  .add-btn {
    background: #333;
    top: 0;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 85.5%;
    display: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  .add-btn:hover {
    background: #d33b33;
  }
}
.product-item{
  margin-bottom: 14px;
}
owl-carousel-o {
  ::ng-deep {
    .owl-stage {
      position: relative;
      .owl-item:hover .over-lay {
        opacity: .8;
      }
    }
  }
}
::ng-deep {
  .owl-theme .owl-nav [class*="owl-"] {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 0;
    background-color: #fff;
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: #d33b33;
    border-color: #d33b33;
  }
}
.link-item {
  padding: 20px 0;
  a {
    background-color: #333;
    color: #fff;
    padding: 10px 30px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  .active {
    background-color: #d33b33;
  }
  .tab1,
  .tab2,
  .tab3 {
    background-color: #d33b33;
  }
}
