<div class="card" style="background-color:cadetblue; border-color:darkblue;">
  <img class="card-img-top" src="../../../assets/images/blog-img-01.jpg" alt="">
  <div class="card-body">
    <h5 class="card-title">Fusce in augue non nisi fringilla</h5>
    <p class="card-text">Nulla ut urna egestas, porta libero id, suscipit orci.
       Quisque in lectus sit amet urna dignissim feugiat.
       Mauris molestie egestas pharetra. Ut finibus cursus nunc
       sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
  </div>
    <!-- <div class="over-lay"></div> -->
    <a href="">Learn More</a>

</div>
