.over-lay {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #c5cdcf6c;
  transition: 0.4s ease-in-out;
  .add-btn {
    background: #333;
    top: 0;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 80%;
    display: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  .add-btn:hover {
    background: #d33b33;
  }
}




.card {
  border: none;
  .card-body {
    background-color: #f5f5f5;
    text-align: left;
    color: #333;
    padding: 0;
    p,
    span {
      margin: 10px 5px 5px 5px;
    }
    .detailes {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      color:#d33b33;
      font-weight: bold;
      .productTitle{
        white-space: nowrap;
        width: 80px;
        overflow: hidden;
        text-overflow: "----";
        cursor: pointer;
      }
    }
    .card-discription{
      white-space: nowrap;
      width: 150px;
      overflow: hidden;
      text-overflow: "----";
      cursor: pointer;
    }
  }
}
.img-content {
  position: relative;
  width: 100%;

  .card-img-top{
width: 100%;
height: 220px;
  }
}
.img-content:hover .over-lay {
  height: 100%;
}
.img-content:hover .add-btn {
  display: block;
}
